.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: #7a7a7a !important;
  margin-left: 13px !important;
  right: 0;
}

.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  color: #7a7a7a !important;
  margin-left: 13px !important;
  right: 0;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.MuiBox-root > * {
  border: none !important;
}