.account {
  width: 100%;
  background: #1D0E40;
}

.col {
  width: 90%;
  margin: 0 auto;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  > p:first-of-type {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    margin-bottom: 17px;
    > span {
      color: #9060FF;
    }
  }
  > p:last-of-type {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 50px;
  }
  > button {
    background: #9060FF;
    border-radius: 12px;
    padding: 22px 41px;
    color: #fff;
    border: none;
  }
}