header {
  width: 100%;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
    gap: 20px;
    > button {
      display: flex;
      justify-content: center;
      gap: 10px;
      align-items: center;
      width: 105px;
      height: 40px;
      border: 2px solid #fff;
      border-radius: 12px;
      background-color: transparent;
      color: #fff;
    }
  }
}

@media screen and (max-width: 640px) {
  header {
    gap: 10px;
    > img {
      width: 50%;
    }
    > div > button {
      width: 50px;
      > p {
        display: none;
      }
    }
  }
}